{# Page générique pour les pages du site #}

{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        
    </div>  
    
    <div class="toolbar">
        <a href="/playlist"><i class="fa-solid fa-list-ul h1"></i></a>
        <a href="/favourite"><i class="fa-solid fa-heart h1"></i></a>
        <a href="/notification"><i class="fa-solid fa-bell h1"></i></a>
        <a href="/user"><i class="fa-solid fa-user h1"></i></a>
        <a href="/setting"><i class="fa-solid fa-gear h1"></i></a>

    </div>
    
    
    
{% endblock %}