{# Page générique pour les pages du site #}

{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        
    </div>  
    
    <div>
        <a href="/playlist">Playlist</a>
        <a href="/favourite">Fav</a>
        <a href="/notification">Notification</a>
        <a href="/user">User</a>
        <a href="/setting">Setting</a>

    </div>

    
    
{% endblock %}