.toolbar{
    display: flex;
    flex-direction: column;
    width: 45px;
    background-color: #131416;
    padding-top: 400px;
    padding-bottom: 700px;
    bottom: -300px;
    position: fixed;
    
   
}

.body{
    background-image: url("assets/108-blue.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 1000px;
    overflow-x: hidden;
    
}

 .contenu{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #131416;
  
  
} 

.contenu-title {
    font-size: 4em;
    font-family: arial;
    background-image: url("assets/108-blue.jpg");
    background-size: cover;
    background-position: center;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }


  .first-music{
    width: 300px;
    bottom: 600px;
    left: 300px;
    position:absolute;
  }

 

