{% extends "base.html.twig" %}

{% block title %}Mes playlists{% endblock %}


{% block body %}
<div>
    <a href="/home">Home</a>
    <a href="/favourite">Fav</a>
    <a href="/notification">Notification</a>
    <a href="/user">User</a>
    <a href="/setting">Setting</a>

</div>

{% endblock %}