{% extends "base.html.twig" %}

{% block title %}Parametre{% endblock %}


{% block body %}
<div class="contenu">
    <h3 class="contenu-title">Paramètre</h3>
</div>
<div class="toolbar">
    <a href="/home"><i class="fa-solid fa-house h1"></i></a>
        <a href="/playlist"><i class="fa-solid fa-list-ul h1"></i></a>
        <a href="/favourite"><i class="fa-solid fa-heart h1"></i></a>
        <a href="/notification"><i class="fa-solid fa-bell h1"></i></a>
        <a href="/user"><i class="fa-solid fa-user h1"></i></a>
</div>

{% endblock %}